http://:{$PORT} {
    root * /root/html
    file_server
    # http2 not support by heroku yet
    reverse_proxy /h2 127.0.0.1:8082 {
        transport http {
            versions h2c
        }
    }

    @websockets {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @websockets localhost:8080


}