.keyContainer {
    display: flex;
    /* border: 1px solid red; */
    background-color: white;
    margin-bottom: 10px;
    gap: 5px;
}

.keyContainer > .key {
    margin-right: 5px;
}

.accountContainer {
    display: flex;
    /* border: 1px solid blue; */
    flex-direction: column;
    background-color: aliceblue;
    margin-bottom: 10px;
}

.appli{
    display: flex;
    gap: 5px;
}
